h1 {
    color: #6d13e2;
    text-align: center;
     text-decoration-line: underline;
}
h2 {
  text-decoration-line: underline;
}
h3 {
    text-decoration-line: underline;
}
.bac {
    background: url(images/bac.gif);
}